<!-- ********** WHITE SECTION ********** -->
<div class="container">
    <div class="row mtb centered">
      <h3>HANDSOME LANDING. AWESOME EXPERIENCES.</h3>
      <hr class="aligncenter mb">
  
      <div class="col-md-3">
        <i class="ion-ios-wineglass og"></i>
        <h5>TRULY TASTEFUL</h5>
        <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <!--/col-md-3 -->
      <div class="col-md-3">
        <i class="ion-ios-location og"></i>
        <h5>8 CITIES</h5>
        <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <!--/col-md-3 -->
      <div class="col-md-3">
        <i class="ion-ios-calculator og"></i>
        <h5>AFFORDABLE PRICES</h5>
        <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <!--/col-md-3 -->
      <div class="col-md-3">
        <i class="ion-ios-cart og"></i>
        <h5>WE DELIVER</h5>
        <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
      </div>
      <!--/col-md-3 -->
  
    </div>
    <!--/row -->
  </div>
  <!--/container -->
  
  
  <!-- ********** PARALLAX SEPARATOR SECTION ********** -->
  <div class="sep s01" data-stellar-background-ratio="0.5"></div>
  
  
  <!-- ********** MEET THE CHEFS SECTION ********** -->
  <div class="container" id="chefs">
    <div class="row mtb">
      <h3 class="centered">MEET OUR AWESOME CHEFS</h3>
      <hr class="aligncenter mb">
      <div class="col-md-2 col-sm-2">
        <div class="tabbable">
          <ul class="nav nav-stacked" id="myTab">
            <li class="active"><a href="#tab1">David Harrison</a></li>
            <li class=""><a href="#tab2">Patrick Dawson</a></li>
          </ul>
          <!-- /tabs -->
        </div>
        <!-- /tabbable -->
      </div>
      <!--/col-md-2 -->
  
      <div class="col-md-10 col-sm-10">
        <div class="tab-content">
  
          <div class="tab-pane active" id="tab1">
            <!-- FIRST PROFILE -->
            <div class="row">
              <div class="col-md-8 col-sm-8">
                <h4><b>David Harrison</b></h4>
                <h6>TOP CHEF</h6>
                <p class="rating">
                  <i class="ion-ios7-star"></i>
                  <i class="ion-ios7-star"></i>
                  <i class="ion-ios7-star"></i>
                  <i class="ion-ios7-star"></i>
                  <i class="ion-ios7-star"></i>
                </p>
                <br>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <div class="col-md-4 col-sm-4">
                <img class="img-responsive aligncenter" src="assets/img/chef01.png" alt="">
              </div>
            </div>
            <!-- /row -->
          </div>
          <!-- /tab-pane -->
  
          <div class="tab-pane" id="tab2">
            <!-- FIRST PROFILE -->
            <div class="row">
              <div class="col-md-8 col-sm-8">
                <h4><b>Patrick Dawson</b></h4>
                <h6>MASTER CHEF</h6>
                <p class="rating">
                  <i class="ion-ios7-star"></i>
                  <i class="ion-ios7-star"></i>
                  <i class="ion-ios7-star"></i>
                  <i class="ion-ios7-star"></i>
                  <i class="ion-ios7-star-half"></i>
                </p>
                <br>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <div class="col-md-4 col-sm-4">
                <img class="img-responsive aligncenter" src="assets/img/chef02.png" alt="">
              </div>
            </div>
            <!-- /row -->
          </div>
          <!-- /tab-pane -->
  
        </div>
        <!--/tab-content -->
      </div>
      <!--/col-md-10 -->
    </div>
    <!--/row -->
  </div>
  <!--/container -->
  
  
  <!-- ********** PARALLAX SEPARATOR SECTION ********** -->
  <div class="sep s02" data-stellar-background-ratio="0.5"></div>
  
  <!-- ********** MENU SLIDER SECTION ********** -->
  <div class="container" id="dishes">
    <div class="row mtb">
      <h3 class="centered">EXCLUSIVE MENU</h3>
      <hr class="aligncenter mb">
      <p class="text-p centered">Enjoy our meals. You can click each menu to display more information.</p>
      <div class="col-md-10 col-md-offset-1">
        <div id="mi-slider" class="mi-slider">
          <ul>
            <li><a data-toggle="modal" data-target="#myModal"><img src="assets/img/food/1.png" alt="img01"><h4>Salmon</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="assets/img/food/2.png" alt="img02"><h4>Seafood Platter</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="assets/img/food/3.png" alt="img03"><h4>Crawfish</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="assets/img/food/4.png" alt="img04"><h4>Bouillabaisse</h4></a></li>
          </ul>
          <ul>
            <li><a data-toggle="modal" data-target="#myModal"><img src="assets/img/food/5.png" alt="img05"><h4>Steak</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="assets/img/food/6.png" alt="img06"><h4>Ribs &amp; Bread</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="assets/img/food/7.png" alt="img07"><h4>Pork</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="assets/img/food/8.png" alt="img08"><h4>Lasagna</h4></a></li>
          </ul>
          <ul>
            <li><a data-toggle="modal" data-target="#myModal"><img src="assets/img/food/9.png" alt="img09"><h4>Banana Pudding</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="assets/img/food/10.png" alt="img10"><h4>Black Bottom Pie</h4></a></li>
            <li><a data-toggle="modal" data-target="#myModal"><img src="assets/img/food/11.png" alt="img11"><h4>Black Forest</h4></a></li>
          </ul>
          <nav>
            <a href="#">SeaFood</a>
            <a href="#">Meat</a>
            <a href="#">Desserts</a>
          </nav>
        </div>
      </div>
      <!--/col-md-10 -->
    </div>
    <!--/row -->
  </div>
  <!--/container -->
  
  <!-- MODAL DEMO FOR A MENU ITEM -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h5 class="modal-title" id="myModalLabel">Skillet Poached Eggs</h5>
        </div>
        <div class="modal-body">
          <img class="img-responsive aligncenter" src="assets/img/modalbg.jpg" alt="">
          <h4>Poached Eggs</h4>
          <p class="text-p">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          <p class="text-p">The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
          <h5>Price..........$29</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
    <!--/modal-dialog -->
  </div>
  <!-- /modal -->
  
  
  <!-- ********** PARALLAX SEPARATOR SECTION ********** -->
  <div class="sep s03" data-stellar-background-ratio="0.5"></div>
  
  
  <!-- ********** PHONE USER SECTION ********** -->
  <div class="container">
    <div class="row mt">
      <div class="col-md-7 col-md-offset-1">
        <h3>RESERVE VIA YOUR PHONE</h3>
        <hr class="mb">
        <p class="text-p">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        <p class="text-p">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
          undoubtable source.</p>
        <p class="text-p">Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.</p>
        <p class="down">
          <i class="ion-social-apple"></i>
          <i class="ion-social-android"></i>
        </p>
      </div>
  
      <div class="col-md-3">
        <img src="assets/img/phone.png" class="aligncenter" width="240" alt="">
      </div>
  
    </div>
    <!--/row -->
  </div>
  <!--/container -->
  
  <!-- ********** FOOTER SECTION ********** -->
  <div id="f">
    <div class="container">
      <div class="row">
        <h3 class="centered">SUBSCRIBE TO OUR NEWSLETTER</h3>
        <hr class="aligncenter mb">
        <p class="text-p centered">We will let you know all our awesome offers.</p>
        <div class="col-md-6 col-md-offset-3 centered">
          <form role="form" action="register.php" method="post" enctype="plain">
            <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
            <button class='btn btn-lg btn-orange subscribe-submit' type="submit">Subscribe</button>
          </form>
        </div>
      </div>
      <!--/row -->
    </div>
    <!--/container -->
  </div>
  
  <div id="contact">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="centered">CONTACT US</h3>
        <hr class="aligncenter mb">
  
        <form class="contact-form php-mail-form" role="form" action="contactform/contactform.php" method="POST">
  
          <div class="form-group">
            <label for="contact-name">Your Name</label>
            <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" >
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <label for="contact-email">Your Email</label>
            <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <label for="contact-subject">Subject</label>
            <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
            <div class="validate"></div>
          </div>
  
          <div class="form-group">
            <label for="contact-message">Your Message</label>
            <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
            <div class="validate"></div>
          </div>
  
          <div class="loading"></div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
  
          <div class="form-send">
            <button type="submit" class="btn btn-large">Send Message</button>
          </div>
  
        </form>
      </div>
    </div>
</div>
  
  